body {
  background-color: navy;
}

table {
  background-color: white;
}

td {
  background-color: black;
  color: yellow;
  padding: 0.5rem;
  max-height: 10vh;
}

caption {
  font-size: 2rem;
  font-weight: 900;
  color: yellow;
}
